<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jitse.example" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ExampleApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".activities.MyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".activities.RatioActivity" >
        </activity>

        <service
            android:name=".service.MyService"
            android:label="MyService" >
        </service>

        <activity
            android:name=".activities.FrameLayoutActivity"
            android:label="@string/title_activity_frame_layout" >
        </activity>
        <activity
            android:name=".activities.DialogFragmentActivity"
            android:label="@string/title_activity_dialog_fragment" >
        </activity>
        <activity
            android:name=".activities.NotificationActivity"
            android:label="@string/title_activity_notification" >
        </activity>
        <activity
            android:name=".activities.NotificationResultActivity"
            android:label="@string/title_activity_notification_result" >
        </activity>
        <activity
            android:name=".activities.BarcodeActivity"
            android:label="@string/title_activity_barcode" >
        </activity>
        <activity
            android:name=".activities.CircularActivity"
            android:label="@string/title_activity_circular" >
        </activity>
        <activity
            android:name=".activities.RecyclerViewActivity"
            android:label="@string/title_activity_cards" >
        </activity>
        <activity
            android:name=".activities.RetrofitActivity"
            android:label="@string/title_activity_retrofit" >
        </activity>
        <activity
            android:name=".intern.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".intern.HeroActivity"
            android:label="@string/title_activity_hero" >
        </activity>
        <activity
            android:name=".transition.ImageTransition1Activity"
            android:label="@string/title_activity_image_transition1" >
        </activity>
        <activity
            android:name=".transition.ImageTransition2Activity"
            android:label="@string/title_activity_image_transition2" >
        </activity>
        <activity
            android:name=".activities.RippleActivity"
            android:label="@string/title_activity_ripple" >
        </activity>
        <activity
            android:name=".activities.JacksonActivity"
            android:label="@string/title_activity_jackson" >
        </activity>
        <activity
            android:name=".activities.HorizontalListViewActivity"
            android:label="@string/title_activity_horizontal_list_view" >
        </activity>
        <activity
            android:name=".zappos.ProductActivity"
            android:label="@string/title_activity_product" >
        </activity>
        <activity
            android:name=".activities.GooglePlusActivity"
            android:label="@string/title_activity_google_plus" >
        </activity>
        <activity
            android:name=".activities.CardActivity"
            android:label="@string/title_activity_card" >
        </activity>
        <activity
            android:name=".transition.ImageScrollTransition"
            android:label="@string/title_activity_image_scroll_transition" >
        </activity>
        <activity
            android:name=".activities.AnimationActivity"
            android:label="@string/title_activity_animation" >
        </activity>
        <activity
            android:name=".activities.RevealActivity"
            android:label="@string/title_activity_reveal" >
        </activity>
        <activity
            android:name=".activities.TintActivity"
            android:label="@string/title_activity_tint" >
        </activity>
        <activity
            android:name=".activities.ToolbarActivity"
            android:label="@string/title_activity_toolbar" >
        </activity>
        <activity
            android:name=".activities.PagerTransitionActivity"
            android:label="@string/title_activity_pager_transition" >
        </activity>
        <activity
            android:name=".activities.WebviewActivity"
            android:label="@string/title_activity_webview" >
        </activity>
        <activity
            android:name=".activities.FragmentRevealActivity"
            android:label="@string/title_activity_fragment_reveal" >
        </activity>
        <activity
            android:name=".activities.ImageActivity"
            android:label="@string/title_activity_image" >
        </activity>
        <activity
            android:name=".activities.MultipleListViewActivity"
            android:label="@string/title_activity_multiple_list_view" >
        </activity>
        <activity
            android:name=".activities.AlarmActivity"
            android:label="@string/title_activity_alarm" >
        </activity>

        <receiver android:name=".receivers.AlarmReceiver" />

        <activity
            android:name=".activities.AlbumActivity"
            android:label="@string/title_activity_album" >
        </activity>
        <activity
            android:name=".activities.PictureActivity"
            android:label="@string/title_activity_picture" >
        </activity>
        <activity
            android:name=".activities.HtmlActivity"
            android:label="@string/title_activity_html" >
        </activity>
        <activity
            android:name=".StateListActivity"
            android:label="@string/title_activity_state_list" >
        </activity>
        <activity
            android:name=".activities.SpinnerActivity"
            android:label="@string/title_activity_spinner" >
        </activity>
        <activity
            android:name=".activities.TwitterActivity"
            android:label="@string/title_activity_twitter" >
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="88cffa61df5093d0ff019612800a07c8af00423f" />

        <activity
            android:name=".activities.FabActivity"
            android:label="@string/title_activity_fab" >
        </activity>
        <activity
            android:name=".activities.CircularFabActivity"
            android:label="@string/title_activity_circular_fab" >
        </activity>
        <activity
            android:name=".activities.ImmersiveActivity"
            android:label="@string/title_activity_immersive" >

        </activity>
        <activity
            android:name=".activities.TestActivity"
            android:label="@string/title_activity_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
